body {
    font-family: Arial, sans-serif;
    background-color: #314353;
    color: #333;
    margin: 0;
    text-align: center;
  }
  
  h1 {
    color: #0055aa;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: black;
  }
  #h2in, .listas{
    color: black;
  }
  h2 {
    color: #0055aa;
  }
  h3 {
    color: black;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
    
    
  }
  a:hover {
    text-decoration: underline;
    text-decoration: wavy;
    
  }
  li {
    list-style-type: none;
  }

  #aIn {
    padding-right: 40px;
    
  }
  #super-magnifica-carinha {
    color: lightseagreen;
  }
  